<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <h1>
        <%= titulo %>
    </h1>

    <div class="container p-3 my-3 bg-light text-black">
        <%- include('../partials/Formulario') %>

            <div id=grillaProductos> </div>
    </div>

    <div class="container p-3 my-3 bg-light text-black">
        <%- include('../partials/chat') %>
    </div>

</body>

</html>